#sectionA {
    display: flex;
    position: relative;
    width: 70%;
    height: 85vh;
    margin: 5%;
    left: 10%;
    background: #0BB664;
}

.div1 {
    position: absolute;
    margin: 0%;
    margin-top: 0%;
    left: 5%;
}

.navbar {
    position: absolute;
    margin: 1.5%;
    right: 8%;
}

a {
    text-decoration: none;
    color: white;
}

.divA {
    position: absolute;
    margin: 10%;
    color: #FFF9F9;
    font-size: 35px;
}

.divB {
    margin: 23%;
    margin-left: 20%;
    color: #FFFFFF;
}

.divC {
    position: absolute;
    color: #FFFFFF;
    margin: 33%;
    margin-left: 20%;
}

hr {
    color: rgba(105, 104, 104, 0.979);
    width: 350px
}

button {
    position: absolute;
    margin: 10%;
    width: 90%;
    height: 5vh;
    background: rgb(51, 50, 50);
    border-style: none;
    color: #FFFFFF;
}